.row {
    border:1px solid black;
    border-radius: 2%;
    width:70%;
    margin: 0 auto;
    margin-top: 30px;
    padding:10px;
}
.col-12 {
    margin: 10px auto;
}

label {
    font-size: 1.2em;
    font-weight: 500;
}
#movieGender{
    width:100%;
}
#button {
    width:100%;
    margin-top:20px;
}
ul {
    margin-top:10px;
    list-style-type: none;
}
li {
    background-color: azure;
}
form {
    padding:20px;
    border:1px solid black;
    border-radius: 3%;
}
.text-right {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}